main > article > section > div {
    margin-top: 20px;
    margin-left: 1%;
}

@media (min-width: 700px) {
    main > article > section > div {
        margin-left: 2%;
        
    }
    
}

@media (min-width: 1100px) {
    main > article > section > div {
        margin-left: 3%;
        
    }
    
}