$primary-color:#2ea44f;
$secondary-color:rgb(173, 230, 182);
$primary-disabled:gray;
$secondary-disabled:lightgray;


$font:'Roboto', sans-serif;
$raspberry:#D81159;
$quinacridone-magenta:#8F2D56;
$xanthous:#FFBC42;
$dodger-blue:#0496FF;
$bice-blue:#006BA6;